<div class="content-wrapper">
    <div class="m-3 row justify-content-between flex-row-reverse">
        <button class="float-right  btn customButtonBlue" type="button" (click)="refresh=false;getComplaints();">
            <i class="pi pi-refresh"></i>Refresh
        </button>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretched-card">
            <app-card *ngIf="refresh" [flag]='"complaintList"' [title]='"Complaint List"' [type]='complaintData?"tableType":"error"' [inputData]='complaintData'>
            </app-card>
        </div>
    </div>
</div>