<div class="card card-rounded">

    <div class="card-header bg-customPrimary d-flex justify-content-between">
        <h4>{{title}}</h4>
        Total Users: {{userCount?userCount:N/A}}
    </div>
    <div class="card-body" [ngSwitch]='type'>
        <div class="col-sm-12" *ngSwitchCase="'tableType'">
            <app-new-table [inputData]='inputData' [flag]='flag'>
            </app-new-table>
        </div>
        <p class=" alert alert-danger text-center" *ngSwitchCase="'error'">No Data Found</p>
        <p class="alert alert-danger text-center" *ngSwitchDefault>Oops Something went wrong</p>
    </div>
</div>