<nav class="navbar navbar-light bg-white">
    <a class="" href="index.html">
        <img src="assets/img/bipzzLogo.svg" alt="logo" />
    </a>
    <ul>
        <li class="nav-item" *ngIf="isSuper">
            <a class="nav-link" routerLink="./admin" routerLinkActive="active">
                <i class="mdi mdi-account-convert"></i>
                <span class="menu-title ml-2">Admin Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/user" routerLinkActive="active">
                <i class="mdi mdi-account"></i>
                <span class="menu-title ml-2">User Management</span>
            </a>
        </li>
    </ul>
    <button type="button" class="btn customButton" (click)="signOut()">
        Sign Out <i class="dropdown-item-icon pi pi-power-off" style="transform: translateX(10px);"></i>
    </button>
</nav>