<div class="content-wrapper">

    <p-toast position="top-right"></p-toast>
    <p-confirmDialog [style]="{width: '20vw'}" key="positionDialog" position="top-center" [baseZIndex]="10000">
    </p-confirmDialog>
    <div class="container-fluid">
        <div class="m-3 row justify-content-between flex-row-reverse">
            <button class="float-right btn customButtonBlue" type="button" (click)="show(null)">
                <i class="pi pi-user-plus"></i> Add
            </button>
            <button class="float-right btn customButtonBlue" type="button" (click)="refresh=false;getPromotion()">
                <i class="pi pi-refresh"></i> Refresh</button>
        </div>
        <div class="col alert alert-danger" *ngIf="errFlag">
            No Data Found
        </div>
        <div class="row justify-content-start" *ngIf="!errFlag &&refresh">
            <div class="card m-3 justify-content-around col-3 text-center" *ngFor="let data of promoData; index as i">
                <div class="card-header border alert" [class]='i%2==0?"alert-primary":"alert-secondary"'>
                    <span>
                        {{data?data.name:'Name'}}
                    </span>
                </div>
                <div class="card-body">
                    <span>
                        Price :
                        <span class="font-weight-bold">
                            {{data && data.price?data.price:'Percentage'}}</span>
                    </span> <br> Percentage :<span class="font-weight-bold">
                        {{data&& data.percentage?data.percentage:0}}</span>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-around">
                    <button type="submit" (click)='data._id?delete(data._id):errorAlert()'
                        class=" btn btn-danger">Delete</button>
                    <button type="submit" (click)='show(data)' class=" btn btn-info">Edit</button>
                </div>
            </div>

        </div>
    </div>
</div>