<p-toast position="top-right"></p-toast>

<p-confirmDialog [style]="{width: 'auto'}" key="positionDialog" position="top-center" [baseZIndex]="10000">
</p-confirmDialog>
<div class="content-wrapper">
    <div class="m-3 row justify-content-between flex-row-reverse">
        <button class="float-right btn customButtonBlue" type="button" (click)="show()">
            <i class="pi pi-user-plus"></i> Add
        </button>
        <button class="float-right btn customButtonBlue" type="button" (click)="refresh=false;getAdmins();">
            <i class="pi pi-refresh"></i> Refresh
        </button>

    </div>
    <div class="col alert alert-danger" *ngIf="errFlag|| !adminData">
        No Data Found
    </div>
    <div class="m-2 row justify-content-around">
        <div class="card">
            <div class="card-header border-0">
                <h4>Admin Data</h4>
            </div>
            <div class="card-body" *ngIf="refresh || adminData">
                <div class="table-responsive">
                    <table class="table d-table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">
                                    UserName
                                </th>
                                <th scope="col">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope='row' *ngFor="let data of adminData">
                                <td>{{data.userName}}</td>
                                <td> <button class='btn btn-danger' (click)="refresh=false;delete(data.userName)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>