<div class="container">
    <p-toast position="top-right"></p-toast>
    <!-- <button class="float-right  btn customButtonBlue" type="button" (click)="refresh=false;userProfile(profileId);">
        <i class="pi pi-refresh"></i> Refresh
    </button> -->
    <div *ngIf="!err && profileData" class="clear-fix profile">
        <!-- {{profileData |json}} -->
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <img class="content-image img-fluid" [src]="baseurl+profileData.Image"
                        onError='this.src="assets/img/user.png"'>
                </div>
                <div class="col-9">
                    <h2>Name: {{profileData&&profileData.fullName?profileData.fullName:"NA"}}</h2>
                    <h3><b>Email:</b> {{profileData&&profileData.email?profileData.email:"NA"}}</h3>
                    <h3><b>Gender:</b> {{profileData&&profileData.gender?profileData.gender:"NA"}}</h3>
                    <h3><b>Mobile No:</b> {{profileData&&profileData.mobileNo?profileData.mobileNo:"NA"}}</h3>
                    <h3><b>Employment Status:</b> {{profileData&&profileData.empStatus?profileData.empStatus:"NA"}}</h3>
                    <h3><b>Date of Birth:</b> {{profileData&&profileData.doBirth?profileData.doBirth:"NA"}}</h3>
                    <h3><b>City:</b> {{profileData&&profileData.city?profileData.city:"NA"}}</h3>
                    <h3><b>State:</b> {{profileData&&profileData.state?profileData.state:"NA"}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>