<ng-container>
    <!-- {{element}} -->
    <mat-form-field class='col-sm-12 col-md-6 mx-auto px-5 ' appearance='legacy'>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <!-- {{displayedColumns|json}} -->
    <div class="table-responsive">
        <table mat-table [dataSource]="data" class="col-12 text-center table align-middle" matSort>

            <ng-container [matColumnDef]="title" *ngFor="let title of displayedColumns" class="">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{title}} </mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-2 justify-content-center" (click)="navigateTo(element)" style="cursor: pointer;">
                    {{element[title]}}

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</ng-container>