<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="./dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="mdi mdi-notification-clear-all"></i>
                <span class="menu-title ml-2">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/user" routerLinkActive="active">
                <i class="mdi mdi-account"></i>
                <span class="menu-title ml-2">User Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/vendor/list" routerLinkActive="active">
                <i class="mdi mdi-account-box"></i>
                <span class="menu-title ml-2">Facilitator Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/vendor/approval" routerLinkActive="active">
                <i class="mdi mdi-account-switch"></i>
                <span class="menu-title ml-2">Facilitator Approval</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/vendor/nonVerifiedlisiting" routerLinkActive="active">
                <i class="mdi mdi-shopping"></i>
                <span class="menu-title ml-2">Doctor Approval</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/vendor/verifiedlisiting" routerLinkActive="active">
                <i class="mdi mdi-shopping"></i>
                <span class="menu-title ml-2">Doctor Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./management/event" routerLinkActive="active">
                <i class="mdi mdi-briefcase"></i>
                <span class="menu-title ml-2">Appointments Management </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./blog" routerLinkActive="active">
                <i class="mdi mdi-briefcase"></i>
                <span class="menu-title ml-2">Blog Management </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./subscription" routerLinkActive="active">
                <i class="mdi mdi-bell-ring-outline"></i>
                <span class="menu-title ml-2">Subscription</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="./promotions" routerLinkActive="active">
                <i class="mdi mdi-sale"></i>
                <span class="menu-title ml-2">Promotion Management</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/management/quote" routerLinkActive="active">
                <i class="mdi mdi-application"></i>
                <span class="menu-title ml-2">Quote Management</span>
            </a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="./general/banner" routerLinkActive="active">
                <i class="mdi mdi-view-carousel"></i>
                <span class="menu-title ml-2">Banner Management</span>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="./general/report" routerLinkActive="active">
                <i class="mdi mdi-file-document"></i>
                <span class="menu-title ml-2">Reports</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="./general/complaints" routerLinkActive="active">
                <i class="mdi mdi-wechat"></i>
                <span class="menu-title ml-2">Chats</span>
            </a>
        </li> -->
        <li class="nav-item" *ngIf="isSuper">
            <a class="nav-link" routerLink="./admin" routerLinkActive="active">
                <i class="mdi mdi-account-convert"></i>
                <span class="menu-title ml-2">Admin Management</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/general/flash" routerLinkActive="active">
                <i class="mdi mdi-message-alert"></i>
                <span class="menu-title ml-2">Flash Request</span>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="./faq" routerLinkActive="active">
                <i class="mdi mdi-loupe"></i>
                <span class="menu-title ml-2">FAQ Management</span>
            </a>
        </li>
    </ul>
</nav>