::ng-deep .mat-form-field-wrapper{
    padding: 0 !important;
}

form{
    width: 30%;
    justify-content: space-around;
}

.card, .card-header{
    background: #172ea2 !important;
    color: #ffffff !important;
}