.navbar{
  align-items: baseline !important;

}

.navbar-brand{
  background: #ffffff;
  text-align: center;
  width:25%;
  img{
      width: 30%;
  }
}
.brand-logo-mini{
  display: none !important;
  @media (max-width:992px) {
      display: inline;
  }
}
.brand-logo{
      display: none;
     
  @media (min-width:992px) {
      display: inline;
  }
}