<div class="row">
    <div class="col-md-12 grid-margin text-white ">
        <div class="row text-center justify-content-between">
            <div class=" col-lg-3 col-md-6 mt-md-0 py-4 customBgCard-1">
                <div class="wrapper">
                    <h1 class=" mt-2 font-weight-semibold ">{{userCount}}</h1>
                    <h3 class="font-weight-semibold">User</h3>
                    <p class="text-white">+ {{newUserCount}}</p>
                </div>
            </div>
            <div class="  col-lg-3 col-md-6 mt-md-0 py-4 customBgCard-2">
                <div class="wrapper">
                    <h1 class="mt-2 font-weight-semibold">{{facilitatorCount}}</h1>
                    <h3 class="font-weight-semibold">Facilitator</h3>
                    <p class="text-white">+ {{newFacilitatorCount}}</p>
                </div>
            </div>
            <div class="  col-lg-3 col-md-6 mt-md-0 py-4 customBgCard-3">
                <div class="wrapper">
                    <h1 class="mt-2 font-weight-semibold">{{appointmentCount}}</h1>
                    <h3 class="font-weight-semibold">Appointments</h3>
                    <p class="text-white">+ {{newAppointmentCount}}</p>
                </div>
            </div>
            <div class="  col-lg-3 col-md-6 mt-md-0 py-4 customBgCard-4">
                <div class="wrapper">
                    <h1 class="mt-2 font-weight-semibold">{{listCount}}</h1>
                    <h3 class="font-weight-semibold">Doctors</h3>
                    <p class="text-white">+{{newListCount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>