<div class="content-wrapper">

    <p-toast position="top-right"></p-toast>
    <p-confirmDialog [style]="{width: '20vw'}" key="positionDialog" position="top-center" [baseZIndex]="10000">
    </p-confirmDialog>
    <div class="container-fluid">
        <div class="m-3 row justify-content-between flex-row-reverse">
            <button type="button" (click)="create=!create" pButton icon="pi pi-user-plus" label="Add"></button>
            <button type="button" (click)="getFaq()" pButton icon="pi pi-refresh" label="Refresh"></button>
        </div>

        <div class="mt-4 col-6 mx-auto">
            <app-card *ngIf="create" [type]='"faqForm"'></app-card>
        </div>
        <div class="row justify-content-start">
            <div class="col alert alert-danger" *ngIf="errFlag">
                No Data Found
            </div>
            <div class="card m-3 justify-content-around col-5 clearfix" *ngFor="let data of faqData">
                <div class="card-header">
                    {{data?data.question:'Question'}}
                </div>
                <div class="card-body">
                    {{data?data.answer:'Answers'}}
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-around">
                    <button type="submit" (click)='data._id?delete(data._id):errorAlert()'
                        class=" btn btn-danger">Delete</button>
                    <button type="submit" (click)='show(data)' class=" btn btn-info">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>